[submodule "order.life"]
	path = order.life
	url = https://github.com/EmmaLeonhart/order.life
	branch = master
[submodule "new/rootsmagic-import"]
	path = new/rootsmagic-import
	url = https://github.com/EmmaLeonhart/rootsmagic-import.git
